@page
@model IndexModel
@{
    ViewData["Title"] = "Veronica";
}
<script>
function Choose(i) {
    document.getElementById(i).checked = true;
}
</script>

<div class="container">
    <div class="texture">
    </div>

    <div class="veronica">
        <img src="img/Veronica.png" alt="veronica">
    </div>

    <div class="fog">
        <img src="img/tuman.png" alt="fog">
    </div>
    <h1>@Html.DisplayFor(model => model.partOfStory.Title)</h1>
    <div class="line">
        <hr>
    </div>
    <div class="text">
        @Html.Raw(Model.partOfStory.Content)
    </div>
    <div>
        <form class="form" method="POST">
            .<div class="form__radios">

                <div class="form__radio" onclick="Choose('@Model.SubsequentParts[0].Id');">
                    <label>@Html.DisplayFor(model => model.SubsequentParts[0].Title)</label>
                    <input name="id" type="radio" value="@Model.SubsequentParts[0].Id" checked="checked" id="@Model.SubsequentParts[0].Id"/>
                </div>
                @for(int i=1;i<Model.SubsequentParts.Count; i++)
            {
             <div class="form__radio" onclick="Choose('@Model.SubsequentParts[i].Id');">
                 <label>@Html.DisplayFor(model => model.SubsequentParts[i].Title)</label>
                 <input name="id" type="radio" value="@Model.SubsequentParts[i].Id" id="@Model.SubsequentParts[i].Id" />
             </div>
            }
                <input type="submit" class="button button--full" asp-page-handler="ById" value="Выбрать" />
            </div>
        </form>
    </div>

</div>

